<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="org.coletivojava.fw.api.objetoNativo.log" >
    <Appenders>
        <Log4j2ColetivoJava name="myapp" >
            <PatternLayout pattern="serial no: %sn |  Date: %d |  level:%level | class name:%logger | method name:%M() |  line number:%L |  Location: %l | message:%m%n" />
        </Log4j2ColetivoJava>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>


        <logger name="org.coletivojava.fw.api.objetoNativo.log" level="error">

            <AppenderRef ref="myapp" />
        </logger>

        <logger name="org.jboss.weld.level" level="error">
            <AppenderRef ref="Console" />
        </logger>
        <Logger name="org.hibernate" level="error" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>

</Configuration>